---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro"
---

<Layout title="Печи и камины">
  <div class="wrapper">
	<Header></Header>
  </div>
</Layout>

<style>
  
</style>
