---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import NashiPechi from "../components/NashiPechi.astro";
import TakyaPech from "../components/TakyaPech.astro";
import Family from "../components/Family.astro";
import Works from "../components/Works.astro";
---

<Layout title="Печи и камины">
  <div class="wrapper">
    <Header />
    <NashiPechi />
    <TakyaPech />
    <Family />
    <Works />
  </div>
</Layout>

<style></style>
