---
---

<header class="header min-h-[756px]">
  <div class="header__container _container">
    <div class="mt-[40px] header__body min-h-[70px] text-white flex flex-wrap justify-center sm:justify-normal items-center">
      <div class="logoW">
        <img src="/src/assets/img/logo.png" alt="logo" class="logo" />
      </div>

      <div class="ml-5 menu__wrapper">
        <ul class="sm:flex gap-x-[35px] ">
          <li><a class="text-lg" href="#">О&nbspпечах</a></li>
          <li><a class="text-lg" href="#">Наши&nbspпечи</a></li>
          <li><a class="text-lg" href="#">Работы</a></li>
          <li><a class="text-lg" href="#">Сервис</a></li>
        </ul>
      </div>

      <div class="flex grow justify-center sm:justify-end mt-2 sm:mt-0">
          <div class="w-48 sm:w-72 h-20  shadow-2xl bg-[#453736] rounded-[50px] "></div>
      </div>

      </div>
    </div>
  </div>
</header>

<style>
  .header {
    background-color: #ffe53b;
    background-image: linear-gradient(
      147deg,
      rgb(86, 77, 78) 0%,
      rgb(43, 34, 35) 74%
    );
  }
</style>
