---
import BlackH2 from "./BlackH2.astro";
import BlackH3 from "./BlackH3.astro";
import BlackH3S from "./BlackH3S.astro";
import FireplaceCardSmall from "./FireplaceCardSmall.astro";
import ModalVideo from "./ModalVideo.vue";
import RedButton from "./RedButton.astro";
import RedP from "./RedP.astro";
import video from "../assets/img/video.mp4";
---

<section id="kaminopech" class="fireplace">
  <div class="fireplace__container _container">
    <div
      class="fireplace__body flex max-[768px]:flex-col justify-between gap-x-10 mb-[70px] lg:mb-[140px]"
    >
      <div class="left__wrapper lg:max-w-[381px] mx-auto min-[500px]:mx-0">
        <div class="mt-[45px] lg:mt-[90px]">
          <RedP dataAos="fade-right">Ваши дрова</RedP>
        </div>
        <div class="mt-[13px] lg:mt-[26px]">
          <BlackH2 dataAos="fade-right">Наши камино-печи</BlackH2>
        </div>
        <div class="mt-[40px] lg:mt-[80px]">
          <BlackH3 dataAos="fade-right">
            Задумались о новой печи, но не знаете на чем остановить выбор?
          </BlackH3>
        </div>

        <div class="text-center lg:text-start mt-[35px] lg:mt-[70px]">
          <ModalVideo
            client:only
            thumb="src/assets/img/back1.jpg"
            thumbWidth={768}
            thumbHeight={432}
            video={video}
            videoWidth={1920}
            videoHeight={1080}
          />
        </div>
      </div>

      <div class="right__wrapper lg:max-w-[700px] mx-auto min-[500px]:mx-0">
        <div class="mt-[45px] lg:mt-[90px] flex flex-col gap-y-[18px] lg:gap-y-[22px]">
          <FireplaceCardSmall
            dataAos="fade-left"
            title="У вас мало места, каждый сантиметр на учете?"
          >
          </FireplaceCardSmall>

          <FireplaceCardSmall
            dataAos="fade-left"
            title="Вам не хочется каждый раз мучаться с растопкой, гадать с замиранием сердца, пойдет дым в трубу или в дом?"
          >
          </FireplaceCardSmall>

          <FireplaceCardSmall
            dataAos="fade-left"
            title="Вам нужна печь, которая быстро нагревается и долго держит тепло?"
          >
          </FireplaceCardSmall>

          <FireplaceCardSmall
            dataAos="fade-left"
            title="Вам нужна НАДЕЖНАЯ ПЕЧЬ, которую не придется постоянно подмазывать, подштукатуривать, подкрашивать, делать другой мелкий ремонт буквально сразу после постройки?"
          >
          </FireplaceCardSmall>

          <FireplaceCardSmall
            dataAos="fade-left"
            title="Вам нужна печь, которая прослужит не один десяток лет?"
          >
          </FireplaceCardSmall>

          <FireplaceCardSmall
            dataAos="fade-left"
            title="Вы хотите любоваться огнем, пока горят дрова?"
          >
          </FireplaceCardSmall>

          <FireplaceCardSmall
            dataAos="fade-left"
            title="Вы не хотите растягивать процесс постройки печи на две-три недели?"
          >
          </FireplaceCardSmall>

          <FireplaceCardSmall
            dataAos="fade-left"
            title="Три-четыре дня - такой срок бы вас устроил?"
          >
          </FireplaceCardSmall>

          <FireplaceCardSmall
            dataAos="fade-left"
            title="Вы всегда ищете лучшее соотношение цены и качества?"
          >
          </FireplaceCardSmall>
        </div>
        <div class="mt-5 sm:mt-10">
          <h3
            data-aos="fade-right"
            class="text-[var(--black-color)] font-semibold text-xl md:text-2xl text-center min-[500px]:text-start"
          >
            Если на большинство вопросов ваш ответ "Да", то <b
              >круглая кирпичная печь в металлическом футляре это ваша печь!</b
            >
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .fireplace {
    background-image: url(../assets/img/map.jpg);
    background-repeat: no-repeat;
    background-size: 3000px auto;
    background-position: -1113px -1214px;
    background-color: #f6f6f6;
  }
</style>
