---
import BlackH2 from "./BlackH2.astro";
import BlackH3 from "./BlackH3.astro";
import BlackH4 from "./BlackH4.astro";
import BlackH3S from "./BlackH3S.astro";
import img01 from "../assets/img/fireonly/01.jpg";
import img02 from "../assets/img/fireonly/02.jpg";
import RedP from "./RedP.astro";
import FireIcon from "./FireIcon.astro";
import NoticeIcon from "./NoticeIcon.astro";
import RedButton from "./RedButton.astro";
import FireOnlyCard from "./FireOnlyCard.astro";
---

<section class="fireOnly">
  <div class="fireOnly__container _container">
    <div class="fireOnly__body mb-[60px] min-[500px]:mb-[120px]">
      <div class="flex justify-center">
        <BlackH2 dataAos="fade-in">Такая печь будет только у вас</BlackH2>
      </div>
      <div class="flex justify-center mt-[20px] min-[500px]:mt-[40px]">
        <BlackH3 dataAos="fade-in">
          Благодаря облицовке и уникальному декору из камня и гранита
        </BlackH3>
      </div>

      <div
        class="fireOnly__cards mt-[40px] min-[500px]:mt-[120px] flex flex-col gap-y-[100px]"
      >
        <FireOnlyCard
          img={img01}
          alt="01"
          redText="Настоящая"
          title="Русская печь"
          desc="Равным образом постоянный количесвтенный рост и сфера нашей активности позволяет выполнить важные задания по разработке существенных финансовых и административных условий. С другой стороны, реализация намеченных плановых заданий позволяет"
          text1="Долговечность"
          text2="Удобство"
          text3="Низкая цена"
          dataAos="fade-in"
        />

        <FireOnlyCard
          img={img02}
          alt="02"
          redText="Ухх какая"
          title="Помпейская печь"
          desc="Равным образом постоянный количесвтенный рост и сфера нашей активности позволяет выполнить важные задания по разработке существенных финансовых и административных условий. С другой стороны, реализация намеченных плановых заданий позволяет"
          text1="Долговечность"
          text2="Удобство"
          text3="Низкая цена"
          dataAos="fade-in"
        />

        <FireOnlyCard
          img={img02}
          alt="02"
          redText="Традиционный восточный"
          title="Тандыр"
          desc="Равным образом постоянный количесвтенный рост и сфера нашей активности позволяет выполнить важные задания по разработке существенных финансовых и административных условий. С другой стороны, реализация намеченных плановых заданий позволяет"
          text1="Долговечность"
          text2="Удобство"
          text3="Низкая цена"
          dataAos="fade-in"
        />

      </div>
    </div>
  </div>
</section>

<style>
  .fireOnly {
    background-image: url(../assets/img/map.jpg);
    background-repeat: no-repeat;
    background-size: 3000px auto;
    background-position: -489px 323px;
  }
</style>
