---
import BlackH2 from "./BlackH2.astro";
import BlackH3 from "./BlackH3.astro";
import BlackH4 from "./BlackH4.astro";
import BlackH3S from "./BlackH3S.astro";
import img01 from "../assets/img/fireonly/01.jpg";
import img02 from "../assets/img/fireonly/02.jpg";
import img03 from "../assets/img/fireonly/03.jpg";
import placeholder from "../assets/img/placeholder.jpg";
import RedP from "./RedP.astro";
import FireIcon from "./FireIcon.astro";
import NoticeIcon from "./NoticeIcon.astro";
import RedButton from "./RedButton.astro";
import FireOnlyCard from "./FireOnlyCard.astro";
---

<section class="fireOnly">
  <div class="fireOnly__container _container">
    <div class="fireOnly__body mt-5 lg:mt-10 mb-[60px] lg:mb-[120px]">
      <div class="flex justify-center">
        <BlackH2 dataAos="fade-in">Такая печь будет только у вас</BlackH2>
      </div>
      <div class="flex justify-center mt-[20px] lg:mt-[40px]">
        <BlackH3 dataAos="fade-in">С созданием уникального атмосферного интерьера в вашем доме</BlackH3>
      </div>

      <div
        class="fireOnly__cards mt-[40px] lg:mt-[120px] flex flex-col gap-y-[100px]"
      >
        <FireOnlyCard
          img={img01}
          alt="01"
          redText="Настоящая"
          title="Камино-печь"
          desc="Камино-печь - источник тепла и вдохновения. Ее изысканный дизайн, надежность и высокая эффективность создадут неповторимую обстановку, где вы сможете наслаждаться моментами семейного тепла и уютных вечеров."
          text1="Уникальный дизайн"
          text2="Ручная работа"
          text3="Надежность"
          dataAos="fade-in"
        />

        <FireOnlyCard
          img={img02}
          alt="02"
          redText="Ухх какой"
          title="Камин с остеклением"
          desc="Изящный камин с остеклением - превосходное сочетание стиля и функциональности. Этот элегантный камин добавит уют и тепло в ваш интерьер, станет визуальным фокусом в комнате, создавая атмосферу удовольствия и комфорта."
          text1="Эстетика"
          text2="Индивидуальность"
          text3="Эффективность"
          dataAos="fade-in"
        />

        <FireOnlyCard
          img={img03}
          alt="03"
          redText="Традиционный восточный"
          title="Тандыр"
          desc="Практичный и доступный вариант тандыра - идеальное решение для ценителей аутентичного приготовления пищи. Этот тандыр сочетает простоту и функциональность, позволяя вам насладиться вкусом и ароматом блюд, созданных в нем."
          text1="Долговечность"
          text2="Удобство"
          text3="Низкая цена"
          dataAos="fade-in"
        />

      </div>
    </div>
  </div>
</section>

<style>
  .fireOnly {
    background-image: url(../assets/img/map.jpg);
    background-repeat: no-repeat;
    background-size: 3000px auto;
    background-position: -489px 323px;
    background-color: #f6f6f6;
  }
</style>
